<%= form_for @recipe do |f| %>
  <h3><%= f.label :name %>
  <%= f.text_field :name %> </h3>

  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %><br>

  <%= f.label "Or Create New Ingredient:" %><BR>

 <%= f.fields_for @recipe.ingredients.build do |ingredient_fields| %>

    <%= ingredient_fields.text_field :name %>
    <% end %>

    <%= f.submit %>
  <% end %>
