<%= form_for @recipe do |f| %>
  <h3><%= f.label :name %>
  <%= f.text_field :name %> </h3>



<h3> <%= f.label "Or Create New Ingredients:" %></h3>

    <%= f.fields_for :ingredients, @recipe.ingredients.build do |ingredient_form| %>
       <%= ingredient_form.label :name %><br>
       <%= ingredient_form.text_field :name %><br>
       <%= f.label :ingredients %>
       <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %><br>
    <% end %>
<BR><BR>
    <%= f.submit %>
  <% end %>
