<h1>Ingredients Show Here </h1>
<ol>
<li><%= @ingredient.name %> <%= @ingredient.total_on_hand%></li></ol>

<%= link_to 'All Ingredients', ingredients_path %>

<h2><%= @ingredient.name%> is used in the following recipes</h2>
<ul>
  <% @ingredient.recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %>
  <% end %></li>
</ul>
<%= link_to 'All Recipes', recipes_path %>
